{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Unimaze</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS 파일 -->
    <link rel="stylesheet" href="{% static 'map.css' %}">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <script type="module">
        import { VctrApi } from "https://www.vectary.com/viewer-api/v1/api.js";
        // Your Viewer API magic here
    </script>
    <style>

    </style>
</head>

<body>
<div id="logo_img">
    <a href="{% url 'home' %}">
        <img id="img_unimaze" src="{% static 'logo_.png' %}">
    </a>
</div>

<!--전체 건물맵 -->
<div id="map"></div>
<div id="reset-mep-div">
    <button id="resetmapbtn" onclick="setBounds()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="45" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
        </svg>
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/mobile/1.5.0/jquery.mobile-1.5.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7cae786704dc8e9a263f99d1f0794daa"></script>
<script>
var map = null; // 전역 변수로 map을 선언합니다

    function initializeMap() {
        var mapContainer = document.getElementById('map'); // 지도를 표시할 div
        var mapOptions = {
            center: new kakao.maps.LatLng(36.33532024319744, 127.46064447452426), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        map = new kakao.maps.Map(mapContainer, mapOptions); // 지도를 생성합니다

        var positions = [
            {
                content:
                    '<div class="position_item">30주년기념관</div>',
                latlng: new kakao.maps.LatLng(36.33611566110516,127.46002541375002)
            },
            {
                latlng: new kakao.maps.LatLng(36.33332417963411,127.46180220114597)
            },
            {
                content: '<div>공학실험관</div>',
                latlng: new kakao.maps.LatLng(36.333312597823536,  127.46130092780878)
            },
            {
                content: '<div>국제생활관(제3생활관)</div>',
                latlng: new kakao.maps.LatLng(36.33780715279762, 127.45838685788743)
            },
            {
                content: '<div>기초과학관</div>',
                latlng: new kakao.maps.LatLng(36.33284846039782, 127.4613093292189)
            },
            {
                content: '<div>맥센터(렉처홀)</div>',
                latlng: new kakao.maps.LatLng(36.335998841391, 127.4622746575982)
            },
            {
                content: '<div>맥센터(메인홀)</div>',
                latlng: new kakao.maps.LatLng(36.33596007906786, 127.46297613924514)
            },
            {
                content: '<div>문무관</div>',
                latlng: new kakao.maps.LatLng(36.336016545432535, 127.4576746549923)
            },
            {
                content: '<div>산학협력관</div>',
                latlng: new kakao.maps.LatLng(36.334614695843946, 127.45781124944808)
            },
            {
                content: '<div>융합과학관</div>',
                latlng: new kakao.maps.LatLng(36.33522662733902, 127.45803759343447)
            },
            {
                content: '<div>응용과학관</div>',
                latlng: new kakao.maps.LatLng(36.33381080285414, 127.46180507331417)
            },
            {
                content: '<div>인문사회관</div>',
                latlng: new kakao.maps.LatLng(36.336651239021435, 127.45901497183533)
            },
            {
                content: '<div>입학홍보관</div>',
                latlng: new kakao.maps.LatLng(36.33451875078942, 127.46283395341769)
            },
            {
                content: '<div>제5생활관-HRC(하모니홀)</div>',
                latlng: new kakao.maps.LatLng(36.3337343586822,127.46292955487455)
            },
                {
                content: '<div>제5생활관-HRC(하트홀)</div>',
                latlng: new kakao.maps.LatLng(36.33323868085334, 127.4629377600259)
            },       {
                content: '<div>제2생활관</div>',
                latlng: new kakao.maps.LatLng(36.338237184283706,127.45904655453961)
            },       {
                content: '<div>제4생활관</div>',
                latlng: new kakao.maps.LatLng(36.33706017728725, 127.45812629733736)
            },       {
                content: '<div>지산도서관</div>',
                latlng: new kakao.maps.LatLng(36.33639939410993,127.46123002158983)
            },       {
                content: '<div>창학관</div>',
                latlng: new kakao.maps.LatLng(36.334901973681326, 127.46161102785686)
            },
            {
                content: '<div><p>학생회관</p></div>',
                latlng: new kakao.maps.LatLng(36.334298716648476, 127.46147381230575)
            },
            {
                content: '<div>한의학관</div>',
                latlng: new kakao.maps.LatLng(36.33538584456335, 127.45881819852357)
            },    {
                content: '<div>혜화문화관</div>',
                latlng: new kakao.maps.LatLng(36.33707036966329,127.46016468871912)
            },
            {
                content: '<div>The 4th Edu-Park</div>',
                latlng: new kakao.maps.LatLng(36.33623064580255, 127.45824396106813)
            }
];

        var infowindows = [];

        // 마커와 인포윈도우 생성 및 클릭 이벤트 등록하는 부분 생략

        var bounds = new kakao.maps.LatLngBounds();

        for (var i = 0; i < positions.length; i++) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: positions[i].latlng
            });

            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content
            });

            infowindows.push(infowindow);

            kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));

            bounds.extend(positions[i].latlng);
        }

        function makeClickListener(map, marker, infowindow) {
            return function () {
                for (var i = 0; i < infowindows.length; i++) {
                    infowindows[i].close();
                }
                infowindow.open(map, marker);
            };
        }

        kakao.maps.event.addListener(map, 'click', function () {
            for (var i = 0; i < infowindows.length; i++) {
                infowindows[i].close();
            }
        });

        // setBounds 함수를 외부로 분리하여 호출 가능하도록 수정합니다
        return bounds;
    }

    function setBounds() {
        if (map) {
            var bounds = initializeMap();
            map.setBounds(bounds);
        }
    }

    // 초기 맵 로딩 시 한 번 호출하여 bounds를 설정합니다
    var initialBounds = initializeMap();
    map.setBounds(initialBounds);
</script>

{% block content %}

{% endblock %}
</body>
</html>
