body{
    width: 100%;
    height: auto;
}

#offcanvasBottom{
    height: 80%;
}

#map {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 0;
    padding-bottom: 140%; /* 가로:세로 비율에 따라 조정 (16:9 비율 예시) */
    position: relative;
    background: none;
}

#resetmapbtn {
    margin-top: 3%;
}
.offcanvas-header{
    padding-bottom: 0%;
}

#resetmapbtn:active {
    fill: #ffc70e;
    transition: transform 0.3s ease;
}

#resetmapbtn svg {
    fill: #ffc70e;
    transition: transform 0.3s ease;
}

#resetmapbtn:hover svg {
    transform: rotate(360deg);
}
#reset-mep-div{
    text-align: right;
    padding-right: 10%;
    margin-top: 0;
}

#logo_img{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
}
#img_unimaze {
    width: 40%;
}
