body{
    width: 100%;
    height: auto;
}


#map {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 0;
    padding-bottom: 100%; /* 가로:세로 비율에 따라 조정 (16:9 비율 예시) */
    position: relative;
    border-radius: 40rem;
    border:none;
    background: none;
}

#resetmapbtn {
    margin: 0.5%;
    border-radius: 50%;
    background-color: #003931;
    border: none;
    transition: background-color 0.3s ease;
}

#resetmapbtn:hover {
    background-color: #b33d3d;
}

#resetmapbtn svg {
    fill: #FFFFFF;
    transition: transform 0.3s ease;
}

#resetmapbtn:hover svg {
    transform: rotate(180deg);
}
#reset-mep-div{
    text-align: right;
    padding-right: 10%;
    margin-top: 0;
}

#logo_img{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
}
#img_unimaze {
    width: 40%;
}

.position_item{
    margin-left: 10%;
    margin: 10%;
}

.positions-container{
    column-count: 1;
}