<!DOCTYPE html>
<html>
<head>
    <title>Road Map</title>
    <style>
        canvas {
          max-width: 100%;
          height: auto;
        }
    </style>
</head>
<body style="width: 70%">
    <canvas id="myCanvas" width="2129px" height="870px"></canvas>
    <script>
        const roads = [
            {start: {x: 1435, y: 189}, end: {x: 1600, y: 191}, name: "Road B"},
            {start: {x: 1573, y: 185}, end: {x: 1573, y: 130}, name: "Road B"},
            {start: {x: 300, y: 100}, end: {x: 400, y: 200}, name: "Road C"},
            {start: {x: 100, y: 100}, end: {x: 100, y: 300}, name: "Road D"},
            {start: {x: 100, y: 300}, end: {x: 400, y: 200}, name: "Road E"},
            {start: {x: 10, y: 10}, end: {x: 100, y: 300}, name: "Road F"},
            {start: {x: 2400, y: 650}, end: {x: 2700, y: 650}, name:"화장실" },
            {start: {x: 2400, y: 668}, end: {x: 2231, y: 669}, name:"비상구" },
        ];

        var img = new Image()
        img.src = '../static/img/25_1F.png';
        img.onload = function() {
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0);
            ctx.font = "40px Arial";
            for (var i = 0; i < roads.length; i++) {
                var startX = roads[i].start.x;
                var startY = roads[i].start.y;
                var endX = roads[i].end.x;
                var endY = roads[i].end.y;
                ctx.beginPath();
                ctx.moveTo(startX, startY);
                ctx.lineTo(endX, endY);
                ctx.lineWidth = 20;
                if (roads[i].name === 'Road B') { // 수정된 부분
                    ctx.strokeStyle = "#FF0000"; // 일치하는 경로는 빨간색으로 표시
                } else {
                    ctx.strokeStyle = "rgba(0, 0, 0, 0)"; // 나머지 경로는 투명색으로 표시
                }
                ctx.stroke();
                ctx.fillStyle = "#003931";
            }
        }
    </script>
</body>
</html>
